@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: .60rem;
    background-color: rgba(248, 171, 242, 0.2);
  }

  ::-webkit-scrollbar:horizontal{
    width: .30rem;
    height: 8px!important;
    background-color: rgba(248, 171, 242, 0.2);
  }
  
  ::-webkit-scrollbar-thumb{
    background-color:rgba(95, 85, 206, 0.3) ;
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
  }


  
.m-top{
  top: 68px;
}


.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px 16px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #bebebe;
  color: #bebebe;
  cursor: pointer;
}

.paginationBttns a:hover{
  color: white;
  background-color: #9333ea;
}

.paginationActive a {
  color: white;
  background-color: #9333ea;
}